<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.launchGroup">
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.name" value="ISIMIP-Soroe-GCM1-rcp-2.6-1960-2099-Manag-Off-CO2-off"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.name" value="ISIMIP-Soroe-GCM1-rcp-2.6-1960-2099-Manag-Off-CO2-On"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.10.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.10.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.10.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.10.name" value="ISIMIP-Soroe-GCM1-rcp-6.0-1960-2099-Manag-On-CO2-off"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.11.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.11.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.11.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.11.name" value="ISIMIP-Soroe-GCM1-rcp-6.0-1960-2099-Manag-On-CO2-On"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.12.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.12.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.12.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.12.name" value="ISIMIP-Soroe-GCM1-rcp-8.5-1960-2099-Manag-Off-CO2-off"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.13.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.13.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.13.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.13.name" value="ISIMIP-Soroe-GCM1-rcp-8.5-1960-2099-Manag-Off-CO2-on"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.14.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.14.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.14.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.14.name" value="ISIMIP-Soroe-GCM1-rcp-8.5-1960-2099-Manag-On-CO2-off"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.15.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.15.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.15.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.15.name" value="ISIMIP-Soroe-GCM1-rcp-8.5-1960-2099-Manag-On-CO2-on"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.name" value="ISIMIP-Soroe-GCM1-rcp-2.6-1960-2099-Manag-On-CO2-off"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.name" value="ISIMIP-Soroe-GCM1-rcp-2.6-1960-2099-Manag-On-CO2-On"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.name" value="ISIMIP-Soroe-GCM1-rcp-4.5-1960-2099-Manag-Off-CO2-off"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.name" value="ISIMIP-Soroe-GCM1-rcp-4.5-1960-2099-Manag-Off-CO2-On"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.name" value="ISIMIP-Soroe-GCM1-rcp-4.5-1960-2099-Manag-On-CO2-off"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.name" value="ISIMIP-Soroe-GCM1-rcp-4.5-1960-2099-Manag-On-CO2-On"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.8.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.8.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.8.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.8.name" value="ISIMIP-Soroe-GCM1-rcp-6.0-1960-2099-Manag-Off-CO2-off"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.9.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.9.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.9.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.9.name" value="ISIMIP-Soroe-GCM1-rcp-6.0-1960-2099-Manag-Off-CO2-On"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
