# ignore every files .o or .d
*.o
*.d

# ignore temporary files
*~

# ignore these directories  
/Debug
/output/annual_output/
/output/daily_output/
/output/monthly_output/
/output/debug_output/
/Debug
/output_6.1
/debug_met_daily_2001.csv
/debug_met_daily_2002.csv
/debug_met_daily_2003.csv
/debug_met_daily_2004.csv
/debug_met_daily_2005.csv
/debug_met_daily_2006.csv
/debug_met_daily_2007.csv
/debug_met_daily_2008.csv
/debug_met_daily_2009.csv
/debug_met_monthly_2001.csv
/debug_met_monthly_2002.csv
/debug_met_monthly_2003.csv
/debug_met_monthly_2004.csv
/debug_met_monthly_2005.csv
/debug_met_monthly_2006.csv
/debug_met_monthly_2007.csv
/debug_met_monthly_2008.csv
/debug_met_monthly_2009.csv
