# ignore every files .o or .d or .mk
*.o
*.d
*.mk
*.xml
*.prefs


# ignore temporary files
*~

# ignore these directories  
/Debug
/Release
/output

# ignore eclipse settings file
/.settings
/.metadata

# ignore all .txt files in output folders
/output/debug_output/*.txt
/output/annual_output/*.txt
/output/monthly_output/*.txt
/output/daily_output/*.txt
/output/soil_output/*.txt

# ignore all .nc files in output folders
/output/debug_output/*.nc
/output/annual_output/*nc.txt
/output/monthly_output/*.nc
/output/daily_output/*.nc
/output/soil_output/*.nc
/output_6.1


