# ignore every files .o or .d or .mk
*.o
*.d
*.mk

# ignore temporary files
*~

# ignore these directories  
/Debug
/Release
/output

# ignore eclipse settings file
/.settings
/.metadata

# ignore all .txt files in output folders
/output/debug_output/*.txt
/output/annual_output/*.txt
/output/monthly_output/*.txt
/output/daily_output/*.txt
/output/soil_output/*.txt

# ignore all .nc files in output folders
/output/debug_output/*.nc
/output/annual_output/*nc.txt
/output/monthly_output/*.nc
/output/daily_output/*.nc
/output/soil_output/*.nc
/output_6.1


/debug_met_daily_2001.csv
/debug_met_daily_2002.csv
/debug_met_daily_2003.csv
/debug_met_daily_2004.csv
/debug_met_daily_2005.csv
/debug_met_daily_2006.csv
/debug_met_daily_2007.csv
/debug_met_daily_2008.csv
/debug_met_daily_2009.csv
/debug_met_daily_2010.csv
/debug_met_daily_2011.csv
/debug_met_monthly_2001.csv
/debug_met_monthly_2002.csv
/debug_met_monthly_2003.csv
/debug_met_monthly_2004.csv
/debug_met_monthly_2005.csv
/debug_met_monthly_2006.csv
/debug_met_monthly_2007.csv
/debug_met_monthly_2008.csv
/debug_met_monthly_2009.csv
/debug_met_monthly_2010.csv
/debug_met_monthly_2011.csv

/Old_output/
