<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.launchGroup">
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.name" value="ISIMIP-Soroe-GSWP3-1960-2012-Manag-On-CO2-hist"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.name" value="ISIMIP-Soroe-GSWP3-1960-2012-Manag-Off-CO2-hist"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.name" value="ISIMIP-Soroe-PRINCETON-1960-2012-Manag-On-CO2-hist"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.name" value="ISIMIP-Soroe-PRINCETON-1960-2012-Manag-Off-CO2-hist"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.name" value="ISIMIP-Soroe-WATCH-1960-2001-Manag-On-CO2-hist"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.name" value="ISIMIP-Soroe-WATCH-1960-2001-Manag-Off-CO2-hist"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.name" value="ISIMIP-Soroe-WATCH-WFDEI-1960-2010-Manag-On-CO2-hist"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.mode" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.name" value="ISIMIP-Soroe-WATCH-WFDEI-1960-2010-Manag-Off-CO2-hist"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
